#topsites-container {
    color: azure;
    /*border: 1px dotted azure;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*float: left;*/
    /*margin: 0 auto;*/
    /*margin: 6em 0 0 1em;*/
    /*margin-left: 1em;*/
    /*padding-left: 18em;*/
    /*overflow-x: auto;*/
    /*scroll-snap-type: x mandatory;*/
    /*scroll-behavior: smooth;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*width: 100%;*/
}

.site-box {
    border: 1px solid black;
    width: 130px;
    /*height: 100%;*/
    background-color: azure;
    margin-bottom: 2em;
    font-size: 0.75em;
}

.site-box p {
    color: black;
    background-color: azure;
    margin: 8px;
}

.site-link {
    width: 130px;
}
.site-link:hover {
    text-decoration: none;
}
.site-link:visited {
    text-decoration: none;
    color: black;
}

img {
    /*background-color: lightgrey;*/
    /*display: inline;*/
    /*margin: 0 auto;*/
    object-fit: contain;
    width: 128px;
    height: 128px;

}

/*#add-site img {*/
/*    width: 116px;*/
/*    height: 116px;*/
/*}*/

.category {
    /*scroll-snap-align: start;*/
    /*flex-shrink: 0;*/
    background-color: #acadbc;
    border: 1px solid azure;
    border-radius: 1em;
    /*box-shadow: 0px 0px 4px #acadbc;*/
    /*box-shadow: inset 0 0 8px #031926;*/
    margin: 0 1em;
    min-width: 15em;
    height: 60vh;
    overflow: hidden;
}
.category ul {
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.category li {
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.25em;
    margin: .5em;
    transition: text-shadow 250ms;
}
.category a {
    color: #031926;
    /*background-color: rgba(255, 255, 255, 0);*/
}
.category a:hover {
    text-decoration: none;
}
.category a:visited {
    color: #031926;
    text-decoration: none;
}
.category li:hover {
    color: #031926;
    text-decoration: none;
    text-shadow: 0px 0px 1px #71738e;
}
.category hr {
    border: 1px solid gray;
    /*box-shadow: 0px 2px 4px gray;*/
    margin: 0;
}

.cat-banner {
    border-radius: 1em 1em 0 0;
    height: 4em;
    width: 100%;
}
.cat-banner img {
    background-color: rgba(255, 255, 255, 0);
    width: 56px;
    height: 56px;
    /*margin: 4px 68px;*/
    margin: auto;
    padding-top: 4px;
    display: block;
    /*position: absolute;*/
}

.favicon {
    background-color: rgba(255, 255, 255, 0);
    height: 1em;
    width: 1em;
    margin: .5em;
    float: left;
}

#banner-BOOK {
    background-color: darkgreen;
}
#banner-EDUC {
    background-color: red;
}
#banner-GAME {
    background-color: yellowgreen;
}
#banner-HOBB {
    background-color: purple;
}
#banner-NEWS {
    background-color: midnightblue;
}
#banner-SHOP {
    background-color: gold;
}
#banner-SOCI {
    background-color: dodgerblue;
}
#banner-SPOR {
    background-color: forestgreen;
}
#banner-WORK {
    background-color: cornflowerblue;
}
#banner-FAVO {
    background-color: deeppink;
}