h1 {
    /*color: whitesmoke;*/
    text-align: center;
    /*margin-top: 2em;*/
    /*display: block;*/
    /*width: 50%;*/
}

#content {
    width: 100%;
    height: 100%;
    padding-top: 4em;
}

#update-user-container {
    background-color: #d4d5dd;
    border-radius: 4em;
    height: 60vh;
    /*margin: 4em auto;*/
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    /*padding-bottom: 5em;*/
    width: 50%;
    /*position: relative;*/
}
#update-user-container input {
    background-color: whitesmoke;
    border: none;
    border-radius: .25em;
    width: 80%;
    margin: 1em auto;
    padding: .5em;
}
#update-user-container input[type="submit"] {
    width: 33%;
    float: left;
    margin: .5em;
    margin-left: 4.4em;
    /*margin-bottom: 4em;*/
}
#update-user-container input[type="submit"]:active {
    box-shadow: inset 0 0 .5em #031926;
}
#update-user-container label {
    width: 80%;
}
#update-user-container ul {
    width: 80%;
    padding-top: 4em;
    padding-bottom: 1em;
    padding-left: 0;
    margin-bottom: 0;
    /*display: inline;*/
    /*text-align: center;*/
}
#update-user-container ul li {
    /*display: inline;*/
    /*width: 100%;*/
}
#update-user-container * {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*width: 100%;*/
}

#reset-pw, #to-profile {
    text-decoration: none;
}
#reset-pw:hover, #to-profile:hover {
    text-decoration: none;
}
#reset-pw button {
    width: 33%;
    float: right;
    background-color: #ff6666;
    border: none;
    border-radius: .25em;
    margin: .5em;
    margin-right: 4.4em;
    padding: .5em;
}
#to-profile button {
    width: 33%;
    float: right;
    background-color: whitesmoke;
    border: none;
    border-radius: .25em;
    margin: .5em;
    margin-right: 4.4em;
    padding: .5em;
}
#reset-pw button:active, #to-profile button:active, #to-login button:active {
    box-shadow: inset 0 0 .5em #031926;
}

#form-btns {
    width: 80%;
    height: 3em;
    margin-top: .5em;
    /*border: inset 1px black;*/
}

.done_p {
    text-align: center;
}
#to-login, #to-login:hover, #to-login:visited {
    text-decoration: none;
    color: inherit;
}
#to-login button {
    width: 33%;
    background-color: whitesmoke;
    border: none;
    border-radius: .25em;
    margin: .5em auto;
    padding: .5em;
}