{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icons/favicon-16x16.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/functions.js' %}"></script>
    <title>{% block login_title %}Skráðu þig inn heim{% endblock %}</title>
</head>
<body>
    {% block user-container %}
        <div id="login-container" class="user-container">
            <form id="login-form" method="POST" action="{% url 'login' %}" novalidate>
                {% csrf_token %}
                <label for="email">Notendanafn / Netfang:</label>
                <input type="text"
{#                       placeholder="jon@daemi.is"#}
                       name="uname"
                       required
                       oninvalid="this.setCustomValidity('Ekki gleyma að fylla þennan reit út!')"
                       oninput="setCustomValidity('')">
                <label for="pword">Lykilorð:</label>
                <input type="password"
{#                       placeholder="********"#}
                       name="pword"
                       required
                       oninvalid="this.setCustomValidity('Ekki gleyma að fylla þennan reit út!')"
                       oninput="setCustomValidity('')">
                <input type="submit" value="Skrá inn">
            </form>
            <a href="{% url 'register' %}"><p>Ekki með aðgang? Nýskráðu þig hér!</p></a>
        </div>
    {% endblock %}
{#    <div id="register-container" class="user-container hidden">#}
{#        <form id="reg-form" method="POST" action="{% url 'register' %}">#}
{#            {% csrf_token %}#}
{#            {{ form }}#}
{#            <label for="email-inp">Netfang: *</label>#}
{#            {{ form.email }}#}
{#            {{ form.email.errors }}#}
{#            <label for="f_name-inp">Fornafn:</label>#}
{#            {{ form.first_name }}#}
{#            <label for="l_name-inp">Föðurnafn / Eftirnafn:</label>#}
{#            {{ form.last_name }}#}
{#            <label for="pw1">Lykilorð: *</label>#}
{#            {{ form.password1 }}#}
{#            <label for="pw2">Staðfestu lykilorðið: *</label>#}
{#            {{ form.password2 }}#}
{#            {{ form.password2.errors }}#}
{#                <span class="errors" style="color: red">{{ form.errors }}</span>#}
{#            <input type="submit" value="Nýskrá">#}
{##}
{##}
{#            <label for="email">Netfang:</label>#}
{#            <input type="email" placeholder="Sláðu inn netfangið þitt" name="email" required>#}
{#            <label for="pword1">Lykilorð:</label>#}
{#            <input type="password" placeholder="********" name="pword1" required>#}
{#            <label for="pword2">Staðfestu lykilorðið:</label>#}
{#            <input type="password" placeholder="********" name="pword2" required>#}
{#            <input type="submit" value="Nýskrá">#}
{#        </form>#}
{#        <p onclick="switch_cont()">Ertu með aðgang? Skráðu þig inn hér.</p>#}
    </div>
</body>
</html>