{% extends 'login.html' %}
{% load static %}
{% block login_title %}Nýskráðu þig heim{% endblock %}
{% block user-container %}
    <div id="register-container" class="user-container">
        <form id="reg-form" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div id="cont1" class="user-wrapper">
                <label for="username">Notendanafn: *</label>
                {{ form.username }}
                {{ form.username.errors }}
                <label for="email-inp">Netfang: *</label>
                {{ form.email }}
                {{ form.email.errors }}
                <label for="pw1">Lykilorð: *</label>
                {{ form.password1 }}
                <button id="next-btn" class="switch-btn" onclick="switch_cont()">Áfram</button>
            </div>
            <div id="cont2" class="user-wrapper hidden">
                <label for="f_name-inp">Fornafn:</label>
                {{ form.first_name }}
                <label for="l_name-inp">Föðurnafn / Eftirnafn:</label>
                {{ form.last_name }}
                <label for="pw2">Staðfestu lykilorðið: *</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
                <button id="prev-btn" class="switch-btn" onclick="switch_cont()">Til baka</button>
                <input type="submit" value="Nýskrá">
            </div>
        </form>
        <a href="{% url 'login' %}"><p>Ertu með aðgang? Skráðu þig inn hér.</p></a>
        <small>* - Þennan reit þarf að fylla út.</small>
    </div>
{% endblock %}
