{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velkomin heim!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/unavailable.css' %}">
</head>
<body>
    <h1>Þessi síða kemur innan skamms!</h1>
    <p>
        Síðan sem þú baðst um er ekki enn tilbúin en óvæntist ekki, hún er í vinnslu!
    </p>
    <button onclick="window.history.back()">Til baka</button>
</body>
</html>